/* reset */

body {
    min-width: 1200px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

div {
    box-sizing: border-box;
}

body, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

/* reset end */

/* common */

.layout {
    width: 1200px;
    margin: 0 auto;
}

/* common end */

/* header */

.header {
    position: relative;
    height: 32px;
    background-color: #131313;
}

.header > .top-header__container {
    overflow: hidden;
}

.header > .top-header__container > .top-header__wrap {
    float: right;
}

.top-header__wrap > ul {
    overflow: hidden;
}

.top-header__wrap > ul > li {
    position: relative;
    float: left;
    padding: 0 16px;
}

.top-header__wrap > ul > li:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 10px;
    margin: auto;
    background-color: #949494;
}

.top-header__wrap > ul > li:last-child:after {
    display: none;
}

.top-header__wrap > ul > li > span {
    font-size: 12px;
    color: #949494;
    line-height: 32px;
}

/* header end */

/* common-footer  start*/

.bottom-footer__container {
    position: relative;
    background-color: #1f1f1f;
}
.bottom-footer__wrap{
    height: 125px;
    font-size: 12px;
    color:#5f5f5f;
    text-align: center;
    line-height: 125px;
}

/* common-footer  end*/