/* reset */
@font-face {
    font-family: 'STXINGKA';
    src: local('STXINGKA'), url('STXINGKA.OTF') format('OpenType');
}
body {
    min-width: 1200px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
div {
    box-sizing: border-box;
}

body, ul,dl,dt,dd, p, h1, h2, h3, h4, h5, h6, input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a{
    color:#fff;
    text-decoration: none;
}

/* reset end */

/* common */

.layout {
    width: 1200px;
    margin: 0 auto;
}

/* common end */

/* header */

.header {
    position: relative;
}

.header > .top-header__container {
    height: 32px;
    background-color: #131313;
    overflow: hidden;
}

.header > .top-header__container > .top-header__wrap {
    overflow: hidden;
}

.top-header__wrap > ul {
    float: right;
}

.top-header__wrap > ul > li {
    position: relative;
    float: left;
    padding: 0 16px;
}

.top-header__wrap > ul > li:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 10px;
    margin: auto;
    background-color: #949494;
}

.top-header__wrap > ul > li:last-child:after {
    display: none;
}

.top-header__wrap > ul > li > a {
    display: inline-block;
    font-size: 12px;
    color: #949494;
    line-height: 32px;
    text-decoration: none;
}

.top-header__wrap > ul > li > a.feather {
    color: #fff;
    text-decoration: underline;
}

.top-header__wrap > ul > li > a.feather:first-child {
    padding-right: 10px;
}

.top-header__wrap .nickname {
    color: #8a2924;
}

.menu-header__container {
    background-color: #060606;
}

.menu-header__container > .menu-header__wrap {
    height: 104px;
    padding: 18px 0;
}

.menu-header__wrap > ul > li {
    float: left;
    height: 67px;
    padding: 0 25px;
    line-height: 67px;
}

.menu-header__wrap > ul > li > a {
    display: inline-block;
    color: #d0d0d0;
    font-size: 14px;
    text-decoration: none;
}

.menu-header__wrap > ul > li > a > span {
    padding: 7px 0;
}

.menu-header__wrap > ul > li > a > span.active {
    color: #912b26;
    border-bottom: 2px solid #912b26;
}
.menu-header__wrap > ul > li > a > span:hover {
    color: #912b26;
    border-bottom: 2px solid #912b26;
}
.menu-header__wrap > ul > li > .menu-search {
    position: relative;
    width: 200px;
    height: 28px;
    margin: 18px 0;
    line-height: 28px;
    border: 1px solid #d0d0d0;
    border-radius: 14px;
}

.menu-header__wrap > ul > li > .menu-search > input {
    width: 160px;
    height: 28px;
    margin-left: 12px;
    font-size: 14px;
    color: #d0d0d0;
    line-height: 28px;
    border: 0;
    background-color: transparent;
}

.menu-header__wrap > ul > li > .menu-search > .search-bar {
    position: absolute;
    right: 10px;
    top: 0;
    width: 16px;
    height: 28px;
    background: url('../image/search.png') no-repeat center center;
}

/* header end */

/* common-footer  start*/

.bottom-footer__container {
    position: relative;
    background-color: #1f1f1f;
}

.bottom-footer__wrap{
    height: 125px;
    font-size: 12px;
    color:#5f5f5f;
    text-align: center;
    line-height: 125px;
}

/* common-footer  end*/

/* 公共浮动样式 */

.pull_left{
    float:left;
}

.pull_right{
    float:right;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
.hide{
    display: none;
}
/* 公共浮动样式 */

/* 分页代码 start*/

.pagination-bar {
    position: relative;
    padding: 20px 0px;
    text-align: center;
}

.pagination-bar > a {
    margin-right: 10px;
    text-decoration: none;
    min-width: 20px;
}

.pagination-bar > a:not(.disabled) {
    color: #333;
    border: 1px solid #949494;
    background-color: #949494;
}

.pagination-bar > a.disabled {
    color: #bbb;
    border: 1px solid #444;
    background-color: #999;
}

.pagination-bar > a.active {
    color: #FFF;
    border: 1px solid #9a0000;
    background-color: #9a0000;
}

.pagination-bar > a:hover{
    border: 1px solid #9a0000;
}

.pagination-bar > span {
    margin-left: -5px;
    margin-right: 5px;
    color: #fff;
}

.pagination-bar > span, .pagination-bar > a {
    display: inline-block;
    padding: 5px 7.5px;
    font-size: 16px;
    text-align: center;
}

/* 分页代码 end*/

/* banner 轮播图/展示图  start*/
.banners{
    width: 100%;
    height: 340px;
    background-color: #060606;
    overflow: hidden;
}
.banners img{
    width: 100%;
    height: 360px;
}
.swiper-container {
    width: 100%;
    height: 340px;
    overflow: hidden;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; 
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
    height: 360px;
}
.swiper-slide > a{
    display: block;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 90px;
    height: 4px;
    opacity: 1;
    background: rgba(0,0,0,1);
    border-radius: 0;
}
.swiper-pagination-bullet-active {
    background: #ffffff;
     width: 90px;
    height: 4px;
    opacity: 1;
    border-radius: 0;
}

/* banner 轮播图/展示图  结束end*/