/* reset */

body {
    min-width: 1200px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

div {
    box-sizing: border-box;
}

body, ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

/* reset end */

/* common */

.layout {
    width: 1200px;
    margin: 0 auto;
}

/* common end */

/* header */

.header {
    position: relative;
    height: 32px;
    background-color: #131313;
}

.header > .top-header__container {
    overflow: hidden;
}

.header > .top-header__container > .top-header__wrap {
    float: right;
}

.top-header__wrap > ul {
    overflow: hidden;
}

.top-header__wrap > ul > li {
    position: relative;
    float: left;
    padding: 0 16px;
}

.top-header__wrap > ul > li:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 10px;
    margin: auto;
    background-color: #949494;
}

.top-header__wrap > ul > li:last-child:after {
    display: none;
}

.top-header__wrap > ul > li > span {
    font-size: 12px;
    color: #949494;
    line-height: 32px;
}

/* header end */

/* common-footer  start*/

.bottom-footer__container {
    position: relative;
    background-color: #1f1f1f;
}

.bottom-footer__wrap{
    height: 125px;
    font-size: 12px;
    color:#5f5f5f;
    text-align: center;
    line-height: 125px;
}

/* common-footer  end*/

/* 公共浮动样式 */

.pull_left{
    float:left;
}

.pull_right{
    float:right;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

/* 公共浮动样式 */

/* 分页代码 */

.pagination-bar {
    position: relative;
    padding: 20px 0px;
    text-align: center;
}

.pagination-bar > a {
    margin-right: 10px;
    text-decoration: none;
    min-width: 20px;
}

.pagination-bar > a:not(.disabled) {
    color: #333;
    border: 1px solid #949494;
    background-color: #949494;
}

.pagination-bar > a.disabled {
    color: #bbb;
    border: 1px solid #444;
    background-color: #999;
}

.pagination-bar > a.active {
    color: #FFF;
    border: 1px solid #9a0000;
    background-color: #9a0000;
}

.pagination-bar > a:hover{
    border: 1px solid #9a0000;
}

.pagination-bar > span {
    margin-left: -5px;
    margin-right: 5px;
    color: #fff;
}

.pagination-bar > span, .pagination-bar > a {
    display: inline-block;
    padding: 5px 7.5px;
    font-size: 16px;
    text-align: center;
}

/* 分页代码 */