.declaration-order {
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Box-model */
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  /* Typography */
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

  /* Visual */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  /* Misc */
  opacity: 1;
}

/* 关于我们  开始 */

.about-me__container {
    background-color:#060606;
}

.about-me__wrap {
    font-family: "STFangsong";
    text-align: center;
}

.about-me__wrap h4 {
    font-size: 48px;
    color:#d0d0d0;
}

.about-me__wrap h5 {
    font-size: 30px;
    color:#9a0000;
}

.about-me__wrap h6 {
    margin-bottom: 10px;
    font-size: 16px;
    color:#9a0000;
}

.about-me__wrap p {
    font-family: "Microsoft YaHei";
    font-size: 12px;
    line-height: 22px;
    color:#949494;
}

.about-me__wrap > img {
    margin-top:40px;
    margin-bottom:40px;
}

.about-me__address_txt, .about-me__address_img {
    margin-top:80px;
    margin-bottom:40px;
    text-align: left;
}

.about-me__address_txt h5 {
    color:#ffffff;
}

.about-me__address_txt p {
    font-size:14px;
    color:#9f9f9f;
    line-height: 40px;
}

.about-me__address_txt > .icons{
    height: 40px;
    padding: 1px 0;
}

.about-me__address_txt > .icons img {
    margin-right: 25px;
}

/* 关于我们  结束 */

/* 详情页 开始 */

.info__container {
    background-color: #060606;
    padding-top:80px;
}

.info__wrap h4, .info__wrap p, .info__wrap h6 {
    line-height: 24px;
    color:#949494;
}

.info__wrap h2 {
    text-align: center;
    font-size: 30px;
    color:#dedede;
    line-height: 50px; 
}
.info__wrap h4 {
    margin-bottom:40px;
    text-align: center;  
}
.info__wrap p {
    text-indent: 2rem;
}
.info__wrap h6 {
    font-weight: normal;
    font-size: 14px;
}

/* 详情页 结束 */


/* 资料 start */
.source__container {
    background-color:#060606;
    padding-top:80px;
}

.source__wrap {
    font-family: "STFangsong";
    text-align: center;
}
.source__wrap li{
    margin-bottom:15px;
    overflow: hidden;
    padding:25px 50px 0;
    height:170px;
    width: 100%;
    background-color:#252525;

}

.source__wrap li.active h4, .source__wrap li.active p,.source__wrap li:hover h4, .source__wrap li:hover p{
    line-height: 24px;
    color:#fff;
}

.source__wrap h4, .source__wrap p, .source__wrap h6 {
    line-height: 24px;
    color:#949494;
}

.source__wrap h2 {
    text-align: left;
    font-size: 30px;
    color:#dedede;
    line-height: 50px; 
}
.source__wrap h4 {
    margin-bottom:15px;
    text-align: left;  
}
.source__wrap p {
    text-indent: 2rem;
    text-align: left; 
    height: 50px;
    overflow: hidden;
    margin-bottom:25px;
}
.source__switch__title {
    text-align: center;
    margin-bottom:50px;
}
.source__switch__title span{
    font-size:36px;
    font-weight: bold;
    color:#363636;
    margin-left:40px;
    padding-bottom: 10px;
    border-bottom:1px #363636 solid;
    cursor: pointer;
}
.source__switch__title span.active{
    color:#9a0000;
    border-bottom:1px #9a0000 solid;
}
.source__switch__content li{
    position: relative;
}
.source__switch__content i{
    position: absolute;
    right:37px;
    top:23px;
    width: 24px;
    height: 22px;
    background: url(../image/heart-circle.png) no-repeat;
}
.source__switch__content li:hover{
    background-color:#9a0000;
}
.source__switch__content li  i.active{
    background: url(../image/heart.png) no-repeat;
}

.source__switch__content li.active  i.active{
    background: url(../image/heart.png) no-repeat;
}
.source__switch__content li:hover.active  i.active{
    background: url(../image/heart-active.png) no-repeat;
}

/* 资料  结束end */

/* 列表页 start */
.lists__container {
    background-color:#060606;
    padding-top:80px;
}

.lists__wrap {
    font-family: "STFangsong";
    text-align: center;
}
.lists__title h2{
    font-size:36px;
    color:#9a0000;
}
.lists__title h3{
    font-size:30px;
    color:#9a0000;
}
.lists__content li{
    float: left;
    width: 290px;
}
.lists__content li a{
    display: block;
}
.lists__content li img{
    width: 290px;
    height: 290px;
}
/* 列表页 end */