.declaration-order {
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Box-model */
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  /* Typography */
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

  /* Visual */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  /* Misc */
  opacity: 1;
}

/* 关于我们  开始 */

.about-me__container {
    background-color:#060606;
}

.about-me__wrap {
    font-family: "STFangsong";
    text-align: center;
}

.about-me__wrap h4 {
    font-size: 48px;
    color:#d0d0d0;
}

.about-me__wrap h5 {
    font-size: 30px;
    color:#9a0000;
}

.about-me__wrap h6 {
    margin-bottom: 10px;
    font-size: 16px;
    color:#9a0000;
}

.about-me__wrap p {
    font-family: "Microsoft YaHei";
    font-size: 12px;
    line-height: 22px;
    color:#949494;
}

.about-me__wrap > img {
    margin-top:40px;
    margin-bottom:40px;
}

.about-me__address_txt, .about-me__address_img {
    margin-top:80px;
    margin-bottom:40px;
    text-align: left;
}

.about-me__address_txt h5 {
    color:#ffffff;
}

.about-me__address_txt p {
    font-size:14px;
    color:#9f9f9f;
    line-height: 40px;
}

.about-me__address_txt > .icons{
    height: 40px;
    padding: 1px 0;
}

.about-me__address_txt > .icons img {
    margin-right: 25px;
}

/* 关于我们  结束 */

/* 详情页 开始 */

.info__container {
    background-color: #060606;
    padding-top:80px;
}

.info__wrap h4, .info__wrap p, .info__wrap h6 {
    line-height: 24px;
    color:#949494;
}

.info__wrap h2 {
    text-align: center;
    font-size: 30px;
    color:#dedede;
    line-height: 50px; 
}
.info__wrap h4 {
    margin-bottom:40px;
    text-align: center;  
}
.info__wrap p {
    text-indent: 2rem;
}
.info__wrap h6 {
    font-weight: normal;
    font-size: 14px;
}

/* 详情页 结束 */


/* 资料 start */
.source__container {
    background-color:#060606;
    padding-top:80px;
}

.source__wrap {
    font-family: "STFangsong";
    text-align: center;
}
.source__wrap li{
    margin-bottom:15px;
    overflow: hidden;
    padding:25px 50px 0;
    height:170px;
    width: 100%;
    background-color:#252525;

}

.source__wrap li.active h4, .source__wrap li.active p,.source__wrap li:hover h4, .source__wrap li:hover p{
    line-height: 24px;
    color:#fff;
}

.source__wrap h4, .source__wrap p, .source__wrap h6 {
    line-height: 24px;
    color:#949494;
}

.source__wrap h2 {
    text-align: left;
    font-size: 30px;
    color:#dedede;
    line-height: 50px; 
}
.source__wrap h4 {
    margin-bottom:15px;
    text-align: left;  
}
.source__wrap p {
    text-indent: 2rem;
    text-align: left; 
    height: 50px;
    overflow: hidden;
    margin-bottom:25px;
}
.source__switch__title {
    text-align: center;
    margin-bottom:50px;
}
.source__switch__title span{
    font-size:36px;
    font-weight: bold;
    color:#363636;
    margin-left:40px;
    padding-bottom: 10px;
    border-bottom:1px #363636 solid;
    cursor: pointer;
}
.source__switch__title span.active{
    color:#9a0000;
    border-bottom:1px #9a0000 solid;
}
.source__switch__content li{
    position: relative;
}
.source__switch__content i{
    position: absolute;
    right:37px;
    top:23px;
    width: 24px;
    height: 22px;
    background: url(../image/heart-circle.png) no-repeat;
}
.source__switch__content li:hover{
    background-color:#9a0000;
}
.source__switch__content li  i.active{
    background: url(../image/heart.png) no-repeat;
}

.source__switch__content li.active  i.active{
    background: url(../image/heart.png) no-repeat;
}
.source__switch__content li:hover.active  i.active{
    background: url(../image/heart-active.png) no-repeat;
}

/* 资料  结束end */

/* 列表页，收藏页，浏览页 start */
.lists__container {
    background-color:#060606;
    padding-top:80px;
}

.lists__wrap {
    font-family: "STFangsong";
    text-align: center;
}
.lists__title h2{
    font-size:36px;
    color:#9a0000;
}
.lists__title h3{
    font-size:30px;
    color:#9a0000;
}
.lists__content ul{
    margin-top:35px;
    margin-left:-13px;
}
.lists__content li{
    float: left;
    display: inline;
    width: 290px;
    margin-left:13px;
    margin-bottom: 13px;
    background-color: #0d0d0d;
}
.lists__content li:hover{
    background-color: #9a0000;
}
.lists__content li a{
      display: block;
}
.lists__content li .pic  a{
    height: 290px;
    border-bottom:1px #d0d0d0 solid;
}
.lists__content li:hover a{
    border-bottom:1px #9a0000 solid;
}
.lists__content li img{
    width: 290px;
    height: 290px;
}
.lists__content li .txt{
     width: 260px;
    height: 110px;
    padding: 15px;
    text-align: left;

}
.lists__content li h4{
    font-size: 16px;
    font-weight: bold;
}
.lists__content li h5{
    font-size: 14px;
    font-weight: lighter;
}
.lists__content li p{
    font-size: 12px;
    width: 100%;
    height: 36px;
    overflow: hidden;
} 
.lists__content nav{  
    height: 40px;
    line-height: 40px;
    text-align: left;
}
.lists__content nav span{
    font-size:30px;
    color:#9a0000;
    font-weight: bold;
}
.lists__content nav b{

    float: left;
    font-size: 18px;
    color: #9a0000;
    line-height: 43px;
}
.lists__content nav .line {  
    float: right;
    border-top: 1px solid #252525;
    width: 90%; 
    margin-top:19px;
}  
.lists__content nav .txt {  
   color: #686868;  
   vertical-align: middle;  
} 

/* 列表页，收藏页，浏览页 end */

/* 视频页 start */
.media__container {
    background-color:#060606;
    padding-top:80px;
}

.media__wrap {
    font-family: "Microsoft Yahei";
    text-align: center;
}
.media__video{
    padding:15px;
    border-radius: 10px;
    background-color:#323232;
    width: 874px;
    height: 566px;
   
}

.media__info{
    width: 292px;
    height: 566px;
    background-color:#323232;
    color:#fff;
    font-size:14px;
     padding:15px 25px;
}
.media__info h2{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    border-bottom:1px #696969 solid;
}
.media__info h4{
    height: 30px;
    line-height: 35px;
    font-size: 12px;
    color:#696969;
    text-align: center;
    margin-bottom:15px;
}
.media__info p{
    text-align: left;
    color:#aaaaaa;
    font-size: 14px;
}
.media__info .more{
    text-align: center;
    border:1px #555555 solid;
    border-radius: 5px;
    padding:5px 15px;
    color:#555555;
    
}
.blue{
    color:#1d7ebb;
}
.red{
    color:#b2251e;
}
.media__wrap__list{

    font-family: "STFangsong";
}
.media__wrap__list ul{
    margin-top:35px;
    margin-left:-13px;
}
.media__wrap__list li{
    float: left;
    width: 290px;
    color: #949494;
    margin-left:13px;
    margin-bottom: 13px;
    background-color: #1d1d1d;
}
.media__wrap__list li:hover{
    background-color: #9a0000;
    
}
.media__wrap__list li:hover a{
    color:#fff;
}
.media__wrap__list li a{
      display: block;
      color: #949494;
      margin-top:13px;
}

.media__wrap__list li img{
    width: 274px;
    height: 155px;
}
.media__wrap__list li .txt{
    width: 290px;
    padding:0 15px 15px;
    text-align: left;

}
.media__wrap__list li h4{
    font-size: 36px;
}

.media__wrap__list li p{
    text-indent: 2rem;
    font-size: 12px;
    width: 100%;
    height: 140px;
    overflow: hidden;
} 

/* 视频页 end */

/* 首页  start*/

.index_container {
    background-color:#060606;
    padding-top:30px;
    font-family: "STFangsong";
}

.index__wrap {
    font-family: "STFangsong";
    text-align: center;
}
.media__wrap_title{
    text-align: center;
    font-size: 12px;
    color:#949494;
}
.media__wrap_title h3{
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
    color: #9a0000;
}
.list__wrap__list{
    text-align: center;
    overflow: hidden;
}
.list__wrap__list .lists__title{
    margin:50px;
}
.lists_video_content li{
    float: left;
    width: 300px;
    height: 217px;
    overflow: hidden;
    position: relative;
}
.lists_video_content li a{
    display: block;
}
.lists_video_content li img{
    width: 300px;
    height: 217px;
    
}
.lists_video_content li:hover div{
    display: block;
}
.lists_video_content li div{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 300px;
    height: 217px;
    overflow: hidden;
    background: #9a0000;
}
.lists_video_content li div p{
    width: 90%;
    height: 30px;
    margin-top:37px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    font-size:30px;
    overflow: hidden;
    margin:37px auto;
}
.lists_video_content li div i{
    display: block;
    width: 71px;
    height: 72px;
    background: url(../image/poster.png) no-repeat;
    margin:0 auto;

}
.lists_screen_content{
    position: relative;
    width: 1200px;
    height: 600px;
    margin-top:100px;
}
.sub_content{
    height: 332px;
    box-sizing: border-box;
    position: relative;
    padding:0;
}

.lists_screen_content div:not(.sub_content){
    padding:0;
}
.sub_content img{
    width: 100%;
    height: 100%;
}
.sub_content .black{
    position: absolute;
    left:0;
    top:0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
}
.sub_content  a > div{
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}
.sub_content  a{
    display: block;
    width: 100%;
    height: 100%;
}
.sub_content  a > div p{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color:#fff;
    font-size:30px;
    overflow: hidden;
    text-indent:37px;
    margin:160px auto 37px;
}
.sub_content  a > div i{
    display: block;
    width: 71px;
    height: 72px;
    background: url(../image/poster.png) no-repeat;
    margin-left:30px;

}
.sub_content  a:hover aside{
    display:block;
}
.sub_content  aside{
    display: none;
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#e9e9e9;
    background:#9a0000;
}
.sub_content  aside p{
    display: block;
    width: 95%;
    margin:180px auto 0;
    height: 50px;
    font-size: 36px;
    overflow: hidden;
}
.sub_content  aside span{
    display: block;
    width: 95%;   
    height: 25px;
    font-size: 18px;
    margin:0 auto;
    overflow: hidden;
}
.ad_pic{
    position: relative;
    margin-top:-100px;
    height: 632px;
    box-sizing: border-box;
    position: relative;
}
.ad_more{
    height: 132px;
    line-height: 200px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.ad_more a:hover{
    color:#fff;
}
.ad_pic  a{
    display: block;
    width: 100%;
    height: 100%;
}
.ad_pic .black{
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}
.ad_pic  img{
    width: 100%;
    height: 100%;
}
.row{
    width: 100%!important;
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width:1200px) { 
    .lists_screen_content{
        width: 100%;
        height: 600px;
    }
}
@media (max-width:1200px){
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
        float:left;
    }
     .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
/* 首页 end*/